#nav-mobile {
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    .nav-close {
        @include delete();
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: 3.5rem;
        width: 3.5rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;

        li {
            background: $primary;
            padding: 2rem;
            margin-bottom: 3rem;

            a {
                color: white;
                font-size: 18px;
            }
        }
    }
}