// Override initial variables here
// You can add new ones or update existing ones:

$primary: #4C81C2;

$grey: #5b5b6a;
$light-grey: #e9ebF5;
$border-grey: #b9b9d5;

$family-serif: "Cabin", serif;

// Override generated variables here
// For example, by default, the $danger color is $red and the font is sans-serif
// You can change these values:

$family-primary: $family-serif;

$imagepath: '/images/';
